# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Insert Current Time'
      'command': 'markdown-tool:insert-current-time'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'MarkDownTool'
      'submenu': [
        {
          'label': 'Insert Current Time'
          'command': 'markdown-tool:insert-current-time'
        }
      ]
    ]
  }
]
